# Node modules
node_modules/
**/node_modules/

# Turbo repo cache
.turbo/

# Logs
*.log
yarn-error.log
pnpm-debug.log
npm-debug.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Web build / Next.js
apps/web/.next/
apps/web/out/
apps/web/build/

# Mobile build / Expo
apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/dist/
apps/mobile/ios/
apps/mobile/android/
expo-env.d.ts

# Desktop build / Electron / Vite
apps/desktop/dist/
apps/desktop/build/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*
.env.local
.env.*.local

# Coverage / Tests
coverage/

# Misc / Platform specific
*.pem
.vercel
.pnp*
.yarn/*
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*