PORT=4000

# JWT secret and expiry
JWT_SECRET=SECRETKEY
JWT_EXPIRE=7d

# Cookie expiry
COOKIE_EXPIRE=5

# If you have MongoDB, set this to false.
# If you want to use local seed data only, set to true.
USE_LOCAL_DATA=true

NODE_ENV=development

# Replace with your actual MongoDB connection string (if using MongoDB)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

ALLOWED_ORIGINS=http://localhost:3000,http://<YOUR_LOCAL_IP>:3000
# 1. to find local ip in terminal run "ipconfig"
# 2. look for IPv4 Address

# authentication bypass for devolopement
# SKIP_AUTH=true


# ⚠️ Rename this file from "example.env" to ".env" before running the server